body {
  margin: 0;
  font-family: "Roboto", "Oxygen", -apple-system, BlinkMacSystemFont, "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: rgb(43,25,138);
}
